<!--The content below is only a placeholder and can be replaced.-->

<!-- hand over some part of the screen to header component -- app-header is the selector of header component -->
<app-header></app-header>
<!--  Angular RouterModule provides us with a directive called as router-outlet. -->
<!-- So whenever you specify this directive as The tag in your template file -->
<!-- your Angular application will automatically use that as the place where the corresponding view needs to be inserted in. -->
<router-outlet></router-outlet>
<app-footer></app-footer>